header {
    z-index: 9;
    width: 100%;
    -webkit-box-shadow: 0 0.15rem 0.1rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.15rem 0.1rem 0 rgba(0, 0, 0, 0.05);
}

nav {
    margin: 0;
    padding: 0;
}

a.navbar-brand, .footer h2 a {
    color: #ffffff;
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 0px;
}

#logo a {
    float: left;
    display: initial;
}

nav:after {
    content: "";
    display: table;
    clear: both;
}

nav a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0 14px;
}

nav li a:hover {
    color: #ef9632;
}

.menu li.active a {
    color: #ef9632;
}

nav ul ul li a {
    color: #fff;
    padding: 5px 10px;
    display: block;
}

li > a:only-child:after {
    content: '';
}

a.contact {
    background: #ff3838;
    color: #f4f4f4;
    display: inline-block;
    background: #ff3838;
    padding: 11px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #f4f4f4;
    border-radius: 4px;
    text-align: center;
}

a.contact:hover {
    color: #fff;
}

.main-content {
    background: url(../images/login.jpg) no-repeat center;
    background-size: cover;
    min-height: 41.5em;
    position: relative;
}


.banner-info-w3ls p {
    color:#e8e3e3;
    text-align: justify;
}

.banner-info-w3ls h3 {
    font-size: 2.7em;
    letter-spacing: 1px;
    color: #fff;
}

.banner-info-w3ls h2 {
    color: #ef9632;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 300;
}

.banner-info-w3ls a {
    background: #ef9632;
    padding: 11px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
}

.banner-info-w3ls a:hover {
    background: #ff3838;
    color: #fff;
}

section.banner {
    padding: 4em 0 4em 0;
}
.container h1{
    color: #fff;
}
.container a{
    color: #fff;
}


@media (min-width:767px){
    .login-form{
        max-width: 400px;
    }
}