html,body {
    margin: 0;
    font-size: 100%;
    background: #fff;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body a,.btn, button {
    text-decoration: none;
    transition: 0.5s all;
    cursor: pointer !important;
}

a:hover {
    text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
    letter-spacing: 1px;
    font-weight: 700;
}

p {
    font-size: 0.9em;
    color: #8c9398;
    line-height: 2em;
}

ul {
    margin: 0;
    padding: 0;
}

.header-top {
    padding: 0 .5em;
}

.header-top p {
    display: inline-block;
    margin-left: 2em;
    color: #1e272e;
}

/* social icons */

.top-right-info li span {
    color: #fff;
    width: 30px;
    height: 30px;
    line-height: 2.2;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.top-right-info li span.fa-facebook-f {
    color: #3b5998;
}

.top-right-info li span.fa-twitter {
    color: #1da1f2;
}

.top-right-info li span.fa-google-plus {
    color: #F44336;
}

.top-right-info li span.fa-dribbble {
    color: #ea4c89;
}

.top-right-info li span:hover,
.top-lavi p a:hover {
    opacity: 0.8;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

.top-right-info li {
    display: inline-block;
}

/* //social icons */

.top-lavi p a:hover,
.w3l-footer ul li a:hover {
    opacity: .7;
}

a.login-button-2 {
    letter-spacing: 1px;
    font-size: 12px;
    background: #341f97;
    padding: 11px 20px;
    border-radius: 40px;
}

/* //top bar */

/*-- header --*/

/*-- header --*/

/* CSS Document */

header {
    z-index: 9;
    width: 100%;
    -webkit-box-shadow: 0 0.15rem 0.1rem 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.15rem 0.1rem 0 rgba(0, 0, 0, 0.05);
}

.toggle,
[id^=drop] {
    display: none;
}

/* Giving a background-color to the nav container. */

nav {
    margin: 0;
    padding: 0;
}

a.navbar-brand, .footer h2 a {
    color: #ffffff;
    font-size: 33px;
    font-weight: 400;
    letter-spacing: 0px;
}

#logo a {
    float: left;
    display: initial;
}



/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */

nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */

nav ul li {
    margin: 0px;
    display: inline-block;
}

/* Styling the links */

nav a {
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 10px 0;
    font-size: 15px;
    letter-spacing: 1px;
    padding: 0 14px;
}


nav ul li ul li:hover {
    background: #f8f9fa;
}

/* Background color change on Hover */

nav li a:hover {
    color: #ef9632;
}

.menu li.active a {
    color: #ef9632;
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */

nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 20px;
    padding: 10px;
    background: #fff;
    padding: 10px;
    z-index: 999;
    border: 1px solid #ddd;
}

/* Display Dropdowns on Hover */

nav ul li:hover > ul {
    display: inherit;
}

/* Fisrt Tier Dropdown */

nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
}

nav ul ul li a {
    color: #333;
    padding: 5px 10px;
    display: block;
}

/* Second, Third and more Tiers	
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/

nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
}


/* Change ' +' in order to change the Dropdown symbol */

li > a:only-child:after {
    content: '';
}

/* header */

a.contact {
    background: #ff3838;
    color: #f4f4f4;
    display: inline-block;
    background: #ff3838;
    padding: 11px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #f4f4f4;
    border-radius: 4px;
    text-align: center;
}

a.contact:hover {
    color: #fff;
}

.main-content {
    background: url(../images/banner.jpg) no-repeat center;
    background-size: cover;
    min-height: 41.5em;
    position: relative;
}


.banner-info-w3ls p {
    color:#e8e3e3;
    text-align: justify;
}

.banner-info-w3ls h3 {
    font-size: 2.7em;
    letter-spacing: 1px;
    color: #fff;
}

.banner-info-w3ls h2 {
    color: #ef9632;
    font-size: 0.9em;
    text-transform: uppercase;
    font-weight: 300;
}

.banner-info-w3ls a {
    background: #ef9632;
    padding: 11px 30px;
    font-size: 14px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 4px;
    display: inline-block;
}

.banner-info-w3ls a:hover {
    background: #ff3838;
    color: #fff;
}

section.banner {
    padding: 4em 0 4em 0;
}

/* image layers effect */

.banner-info-w3ls {
    padding-right: 3em;
    margin-top: 4em;
}



/* //image layers effect */

/*-- //banner --*/

/*-- popup --*/

.pop-overlay {
    position: fixed;
    top: 0px;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 0ms;
    visibility: hidden;
    opacity: 0;
    z-index: 99;
}

.pop-overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    background: #fff;
    border-radius: 5px;
    width: 35%;
    position: relative;
    margin: 8em auto;
    padding: 3em 1em;
}

.popup p {
    font-size: 15px;
    color: #666;
    letter-spacing: .5px;
    line-height: 30px;
}

.popup h2 {
    margin-top: 0;
    color: #fff;

}

.popup .close {
    position: absolute;
    top: 5px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #000;
}

.popup .close:hover {
    color: #30c39e;
}


/*-- //popup --*/

/*-- features --*/

h3.tittle {
    font-size: 2.7em;
    letter-spacing: 1px;
    color: #212529;
    font-weight: 700;
}

.sub-tittle {
    font-size: 0.35em;
    color: #ff3838;
    font-weight: 500;
    letter-spacing: 1px;
    display: block;
    text-transform: uppercase;
}

.feature-grids h3 {
    font-size: 1.2em;
    color: #212529;
    letter-spacing: 1px;
}

.feature-grids p {
    margin: 0;
    color: #666;
    line-height: 28px;
    letter-spacing: .5px;
}

.feature-grids span {
    font-size: 2em;
    color: #ef9632;
    margin: 0.5em 0;
}

.bottom-gd:hover,
.bottom-gd2-active {
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;
}

.feature-grids span {
    text-align: center;
}

/*-- //features --*/
.counter span {
    font-size: 2.3em;
    color: #ef9632;
    margin: 0;
}
/*--/counter--*/

.stats {
    background: #0f3285;
}

.counter {
    background: none;
    padding: 20px 0;
    border-radius: 0;
    color: #fff;
}

.count-title {
    font-size: 3em;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
    font-weight: 600;
    color: #fff;
}
.count-text {
    font-size: 16px;
    margin-top: 10px;
    letter-spacing: 2px;
    margin-bottom: 0;
    text-align: center;
    color: #ffffff;
    font-weight: 400;
}
.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

/*--//counter--*/

/*--/team--*/

.team-gd {
    padding: 2em 2em;
    background-color: #fff;
    border: 1px solid #ddd;
}

.team-info h3 {
    font-size: 1.2em;
    font-weight: 700;
    color: #262631;
    margin-bottom: 0.8em;
}

.sub-tittle-team {
    font-size: 0.67em;
    color: #ef9632;
    font-weight: 700;
    letter-spacing: 2px;
    display: block;
}

ul.team-icons li {
    list-style: none;
    display: inline-block;
    margin-right: 1em;
}

ul.team-icons li a span {
    color: #333;
    text-decoration: none;
    font-size: 18px;
}

ul.team-icons li a {
    color: #333;
    font-size: 18px;
}

.rsvp img {
    background: #eaebec;
    padding: 0.7em;
}

ul.team-icons.new-inf li a,
ul.team-icons.new-inf li span {
    font-size: 15px;
    color: #666;
}

ul.team-icons.new-inf li {
    color: #666;
    font-size: 15px;
}

.team-gd {
    transition: 2s all;
    -webkit-transition: 2s all;
    -moz-transition: 2s all;
    -ms-transition: 2s all;
    -o-transition: 2s all;

    border: transparent;
}


.team-gd img {
    box-shadow: 0 20px 40px -10px rgba(0, 0, 0, .3);
}


/*--//team--*/

/* middle section */

/* slides images */

.slide-img {
    background-image: url(../images/slide-img.jpg);
    background-repeat: repeat-x;
    animation: slideleft 20000s infinite linear;
    -webkit-animation: slideleft 20000s infinite linear;
    background-size: cover;
    min-height: 500px;
    float: left;
    width: 60%;
}

@keyframes slideleft {
    from {
        background-position: 0%;
    }

    to {
        background-position: 90000%;
    }
}

@-webkit-keyframes slideleft {
    from {
        background-position: 0%;
    }

    to {
        background-position: 90000%;
    }
}

/* //slides images */

section.hand-crafted {
    background: #1e272e;
}

ul.tic-info li {
    line-height: 2.2em;
    letter-spacing: 1px;
}

.progress-tittle {
    font-size: 1.1em;
    margin-bottom: 0.5em;
    color: #888;
}

ul.tic-info li span {
    color: #1e272e;
    margin-right: 1em;
}

.left-build-main-temps {
    padding: 0 4em;
    float: right;
    width: 40%;

}

/*--/info--*/

.property-info-list {
    padding: 1.2em 1em;
    background: #0f3285;
}

.property-info-list.mode-info {
    background: none;
}

.detail h4.title a {
    color: #fff;
    font-size: 0.9em;
}

.detail ul li {
    list-style: none;
    width: 44%;
    float: left;
    font-weight: 400;
    font-size: 13px;
    color: #bbb5b5;
    margin: 0.5em 0;
}

.detail ul li span {
    color: #fff;
}

.detail ul li:hover span,
.footer-properties:hover a {
    color: #ef9632;
}

.detail .location a, .footer-properties a {
    font-size: 13px;
    color: #bbb5b5;
    font-weight: 400;
    letter-spacing: 1px;
}

.footer-properties span.year {
    float: right !important;
    font-size: 13px;
    color: #fff;
}

.footer-properties span {
    margin-right: 5px;
}

ul.facilities-list span {
    margin-right: 0.5em;
}

.footer-properties {
    border-top: 1px solid #3d558e;
    padding-top: 0.7em;
    margin-top: 1em;
}

/*--//info--*/

/*-- /gallery --*/

section#gallery {
    position: relative;
    text-align: left;
}

.gal-img img {
    background: #fff;
}

.gal-info:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
}

/*-- //gallery --*/

/* testimonials */

p.sub-test {
    color: #262631;
    font-size: 15px;
    font-weight: 400;
}

p.sub-test span {
    color: #ef9632;
    font-size: 3em;
    margin-right: 0.3em;
}

.testi_grid h5 {
    color: #ff3838;
    letter-spacing: 1px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.testi-img-res img,
.media img {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
}

.testi_grid p {
    font-size: 13px;
    line-height: 0.5em;
}


section.hand-crafted p {
    color: #73828e;
}

.testimonials_grid_w3ls {
    width: 60%;
    margin: 0 auto;
}

/* //testimonials */

/* /accordion */

.accord-info h3 {
    color: #fff;
}
.accord-info p{
    color: #fff;
}

/* //accordion */

.featured-content {
    position: relative;
}

.featured-content span.money {
    position: absolute;
    top: 10%;
    background: #fff;
    font-size: 0.9em;
    padding: 0.5em 1em;
    font-weight: 600;
    left: 4%;
    color: #ef9632;
}

/*--/--*/

.ab-info-grids p {
    text-align: justify;
}

.ab-info h4 {
    font-size: 2.5em;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #292a2b;
}

/*----*/

section.subscribe-main {
    background-image: linear-gradient(to left bottom, #0652dd, #0d58e2, #145de7, #1963eb, #1e68f0);
}

.footer-grid_section {
    text-align: right;
}


/*--//blog--*/

.sign-info {
    padding: 3em 3em;
    border: 2px solid rgba(182, 201, 236, 0.08);
}

.sign-info h3 {
    font-size: 1.5em;
    letter-spacing: 1px;
    Color: #fff;
    text-align: center;
}

.sign-info label {
    font-weight: 600;
    letter-spacing: 1px;
    color: #fff;
    font-size: 0.9em;
    margin-bottom: 0;
}

label.anim span,
label.anim a {
    color: #333;
    font-size: 15px;
    display: inline;
    letter-spacing: .5px;
    text-transform: capitalize;
    float: left;
    font-weight: 400;
}

.sign-info a {
    color: #fff;
}

p.para-sign {
    color: #8eace4;
}

.sign-info input[type="text"],
.sign-info input[type="email"],
.sign-info input[type="password"] {
    outline: none;
    font-size: 15px;
    border: none;
    border: 2px solid rgba(255, 255, 255, 0.2);
    background: transparent;
    width: 100%;
    box-sizing: border-box;
    color: #fff;
    padding: 15px 20px;
    letter-spacing: 1px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.sign-info input[type="text"],
.sign-info input[type="email"],
.sign-info input[type="password"] {}

.sign-info input[type="submit"] {
    color: #0d58e2;
    background: #fff;
    border: none;
    width: 100%;
    padding: .7em 0em;
    outline: none;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 1px;
    text-transform: capitalize;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -o-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -ms-transition: 0.5s all;
    margin-top: 2em;
    box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -webkit-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -o-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -moz-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    -ms-box-shadow: 0 12px 60px rgba(0, 0, 0, .2);
    border-radius: 25px;
}

.sign-info input[type="submit"]:hover {
    background: #FC427B;
    color: #fff;
}

.icon1,
.icon2 {
    position: relative;
    margin-top: 1.1em;
}

.rem-w3 {
    margin: 1.5em 0;
}

/*-- checkbox --*/

.anim {
    position: relative;
    display: block;
    margin: 1.5em 0;
}

label.anim span,
label.anim a {
    color: #fff;
    font-size: 15px;
    display: inline;
    letter-spacing: .5px;
    text-transform: capitalize;
    float: left;
}

label.anim a {
    display: inline-block;
    text-decoration: none;
    float: right;
}

input.checkbox {
    background: #1761ea;
    cursor: pointer;
    width: 1em;
    height: 1em;
    margin: 3px 8px 0 0 !important;
    float: left;
}

input.checkbox:before {
    content: "";
    position: absolute;
    width: 1em;
    height: 1em;
    background: inherit;
    cursor: pointer;
}

input.checkbox:after {
    content: "";
    transition: .4s ease-in-out;
    position: absolute;
    top: 2px;
    left: 0px;
    z-index: 1;
    width: 1.2em;
    height: 1.2em;
    /* margin-top: 4px; */
    border: 1px solid #ffffff;
}

input.checkbox:checked:after {
    transform: rotate(-45deg);
    height: .5rem;
    border-color: #fff;
    border-top-color: transparent;
    border-right-color: transparent;
}

.anim input.checkbox:checked:after {
    transform: rotate(-45deg);
    height: .5rem;
    border-color: transparent;
    border-right-color: transparent;
    animation: .4s rippling .4s ease;
    animation-fill-mode: forwards;
}

@keyframes rippling {
    50% {
        border-left-color: #d24747;
    }
    100% {
        border-bottom-color: #fff;
        border-left-color: #fff;
    }
}

/*-- //checkbox --*/

/*-- contact page --*/

.contact-info p {
    margin: 0 auto;
    width: 84%;
}

.contact-form-inner {
    margin: 0 auto;
    width: 70%;
}

.contact-form .form-control {
    padding: 0.9em;
    color: #495057;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-size: 0.9em;
    letter-spacing: 1px;
}

.contact-form label {
    font-weight: 700;
    letter-spacing: 1px;
    color: #333;
    font-size: 0.9em;
}

.contact-form textarea {
    overflow: auto;
    resize: vertical;
    height: 10em;
}

.contact-form button.btn {
    background: #181a1d;
    padding: 10px 30px;
    font-size: 16px;
    letter-spacing: 1px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.5s all;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    border: transparent;
}

.contact-form button.btn:hover {
    background: #ff3838;
}

.map iframe {
    width: 100%;
    min-height: 300px;
    border: none;
    border: 4px solid #eee;
}

/*-- contact page --*/

/*--footer--*/

.footer_1its {
    background: #1e272e;
}

.footer_1its h3,
.footer_1its h2 {
    font-size: 1.5em;
    color: #eee;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: 1px;
}

.footer-text p{
    color: #ffffff;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: 1px;
}

.phone {
    margin-top: 20px;
}

.contact-info h4 {
    font-style: normal;
    font-weight: 300;
    font-size: 1.3em;
    line-height: 1.71;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: #fff;
}

.copyright {
    border-top: 1px solid #808080;
    margin-left: 15px;
}

.copyright p {
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.copyright p a {
    color: #ea1d5d;
    text-decoration: underline;
}

.copyright p a:hover {
    color: #fff;
}

.footer_1its p,
.footer_1its a {
    color: #73828e;
    margin: 8px 0;
}

.footer_1its a :hover {
    color: #fff;
}

.footer-grid:nth-child(2) {
    border-left: 1px solid #1b1b1b;
    border-right: 1px solid #1b1b1b;
}

.footer ul li.hd {
    color: #34bf49;
}

.foot-bottom-last img {
    border: 4px solid rgba(76, 86, 95, 0.53);
    border-radius: 4px;
}

.newsletter .email {
    background-color: #F4F4F4;
    border: none;
}

.flickr-grid {
    float: left;
    width: 32%;
    margin: 0 0.1em .2em;
}

.flickr-grid a img {
    width: 100%;
    padding: 0.3em;
    border: 1px solid #333333;
}

.footer-text input[type="email"] {
    outline: none;
    padding: 12px 15px;
    color: #ffffff;
    font-size: 13px;
    width: 85%;
    border: none;
    background: none;
    letter-spacing: 1px;
}

.newsletter {
    position: relative;
    margin-top: 2em;
}

button.btn1 {
    color: #73828e;
    border: none;
    padding: 10px 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    background: none;
    cursor: pointer;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    float: right;
    width: 15%;
}

.footer-grid_section_1its form {
    border: 1px solid #73828e;
    width: 100%;
    margin-top: 20px;
    border-radius: 4px;
}

ul.social_section_1info li {
    display: inline-block;
}

ul.social_section_1info {
    margin-top: 20px;
}

ul.social_section_1info a {
    color: #717580;
    margin-right: 10px;
    font-size: 13.5px;
    margin-right: 2px;
    width: 35px;
    height: 35px;
    background: #121215;
    padding: 9px 20px;
    text-align: center;
    line-height: 35px;
    letter-spacing: 1px;
    border-radius: 4px;
}

ul.social_section_1info a:hover {
    color: #fff;
}

.phone p a {
    color: #808080;
}

.phone p a:hover {
    color: #fff;
}

ul.links li {
    list-style-type: none;
    margin: 5px 0;
}

ul.links li a {
    color: #73828e;
    font-size: 14px;
    letter-spacing: 1px;
}

ul.links li a:hover {
    color: #fff;
}

.cpy-right {
    background: rgba(30, 39, 46, 0.98);
}

.cpy-right p,
.cpy-right a {
    letter-spacing: 1px;
    color: #999;
    line-height: 1em;
    margin-top: 1em;
}

.cpy-right a:hover {
    color: #eee;
}

.footer-title-w3pvt a {
    font-size: 3em;
    text-transform: capitalize;
    font-weight: 700;
    color: #eee;
}

.footer-grid_section {
    width: 60%;
    margin: auto;
}

li.facebook a {
    color: #fff;
    background: #3b5998;
}

li.twitter a {
    color: #fff;
    background: #1da1f2;
}

li.google a {
    color: #fff;
    background: #dd4b39;
}

li.linkedin a {
    color: #fff;
    background: #0077b5;
}

ul.social_section_1info a:hover {
    opacity: 0.8;
}

/*--//footer--*/

/*-- to-top --*/

a.move-top span {
    color: #fff;
    width: 36px;
    height: 36px;
    border: transparent;
    line-height: 2em;
    background: #626c733b;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
}

/*-- Login --*/
@media (min-width:767px){
    .login-form{
        max-width: 400px;
    }
}